<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Details</title>
    <link rel="stylesheet" href="assets/styles/movies.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>
  <body>
    <header class="mainHeader">
      <h1>Movie Hunt</h1>
      <nav class="navBar">
        <ul>
          <li><a href="/movies">Browse Movies</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section id="movie-details"></section>
      <section id="reviews-section">
        <h2 style="color: #800000">Reviews</h2>
        <div id="reviews-container"></div>
        <div class="review-form">
          <h3 class="leaveReview" style="color: #800000">Leave a review!</h3>
          <form id="review-form">
            <div class="form-group">
              <label for="username" style="color: #a24857">Your Name:</label>
              <input type="text" id="username" name="username" required />
            </div>
            <div class="form-group">
              <label for="rating" style="color: #a24857"
                >Rating (1-5 Stars):</label
              >
              <select id="rating" name="rating" required>
                <option value="1">⭐</option>
                <option value="2">⭐⭐</option>
                <option value="3" selected>⭐⭐⭐</option>
                <option value="4">⭐⭐⭐⭐</option>
                <option value="5">⭐⭐⭐⭐⭐</option>
              </select>
            </div>
            <div class="form-group">
              <label for="comment" style="color: #a24857">Your Review:</label>
              <textarea
                id="comment"
                name="comment"
                rows="4"
                required
              ></textarea>
            </div>
            <button type="submit">Submit Review</button>
          </form>
          <div id="form-errors" class="error-message"></div>
        </div>
      </section>
    </main>
    <footer>
      <p>&copy; 2025 Movie Hunt</p>
    </footer>
    <script src="assets/js/movie-detail.js"></script>
  </body>
</html>
